<div class="container">
  <mat-card class="cab-allocation-card">
    <mat-card-header>
      <mat-card-title>{{cabList.length}} Cabs - {{SevenSeaterCabCount}} (7 Seater), {{FourSeaterCabCount}} (4 Seater)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item [class.active]="i == activeIndex" (click)="onSelectCab($event, i)"
                       *ngFor="let cab of cabList; let i = index" role="listitem">
          {{cab.cabGeoHash | uppercase}} - {{cab.cabType}} Seater -
          <div *ngFor="let user of cab.cabUsersList">
            <img id="genderm" *ngIf="user.gender == 'M'" src="../assets/m.png">
            <img id="genderf" *ngIf="user.gender == 'F'" src="../assets/f.png">
          </div>
          <div *ngIf="cab.securityNeeded == true">
            - <img id="security" src="../assets/s.png">
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="map-route-card">
    <app-map-view></app-map-view>
  </mat-card>
</div>
